extends layout

block content

  table(style='width:100%')
    tr
      th
        | Keyword
      th
        | Relevance
      th
        | Occurence
      th
        | Ignored
      th
        | Skipped
      th
        | Interested

    for userKeyword in userKeywords
        tr
          td
            | #{userKeyword.doc.keyword}
          td
            | #{userKeyword.relevance}
          td
            | #{userKeyword.doc.occurence}
          td
            | #{userKeyword.doc.ignored}
          td
            | #{userKeyword.doc.skipped}
          td
            | #{userKeyword.doc.interested}
